
.warning {
  border: solid red 1px;
  border-radius: 0.2em;
}
  
.danger {
  font-size: 10px;
  color: red;
  margin-left: 10em;
}

.imagenHead{
  width: 50%;
  height: 50%;
}

.usname {
  color: red;
}

.input{
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 20%;

  
}

.input:focus {
  outline: none;
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
} 






  