.nav {
  height: 100px;
}

.lin{
   
  color: #248454;
  font-size: 1.3rem;
  margin: 20px;
  display: flex; 
  justify-content: center;  
  align-items: center; 
  padding: 20px; 
}
  

.lin:hover {
  background-color: #248454 ;
  color: white;
}

.my-toggler {
  background-color: blue;
}